.alert p:last-child {
  margin-bottom: 0;
}

.opcachetuner-box {
  display: flex;
  align-items: center;
}

.opcachetuner-box-symbol {
  width: 2em;
  margin-right: 1em;
  flex-shrink: 0;
  text-align: center;
}
